<form>
  <div class="d-flex justify-content-center container-fluid">
    <div class="col-sm-9">
      <h4 class="mb-3">Cadastro de Cidade</h4>
      <div class="row">
        <div class=" col-sm-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control text-uppercase" id="nome" name="nome" [(ngModel)]="model.nome"
                 required>
        </div>
        <div class="col-sm-3">
          <label for="populacao">População</label>
          <input type="number" class="form-control " id="populacao" [(ngModel)]="model.populacao"
                 name="populacao" required>
        </div>
        <div class="col-sm-3">
          <label for="estado">Estado</label>
          <select class="form-control" id="estado" [(ngModel)]="model.estado" name="estado" required>
            <option [ngValue]="estado" *ngFor="let estado of estados">{{estado.nome}}</option>
          </select>
        </div>
        <div class="col-sm-3">

        </div>
      </div>
      <div class="row pt-2">
        <div class="col-sm-1">
          <button type="submit" class="form-control btn btn-success" (click)="salvar(model)">Salvar</button>
        </div>
        <div class="col-sm-1">
          <button *ngIf="!model.estado || model.estado.uf != 'RS'" type="button" class="form-control btn btn-danger"
                  (click)="delete(model.id)">Excluir
          </button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="form-control btn badge-info" (click)="voltar()">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</form>
