<form>
  <div class="d-flex justify-content-center container-fluid">
    <div class="col-sm-9">
      <h4 class="mb-3">Listagem de Cidade</h4>
      <div class="row">
        <div class=" col-sm-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control text-uppercase" id="nome" name="nome" [(ngModel)]="model.nome"
                 (blur)="pesquisar(model)">
        </div>
        <div class="col-sm-3">
          <label for="estado">Estado</label>
          <select class="form-control" id="estado" [(ngModel)]="model.estado" name="estado" (change)="pesquisar(model)">
            <option [ngValue]="estado" *ngFor="let estado of estados">{{estado.nome}}</option>
          </select>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-1">
          <button type="button" routerLink="/cidade-form" class="form-control btn btn-success">Novo</button>
        </div>
        <div class="col-sm-2">
          <button type="button" routerLink="/cidade-lote" class="form-control btn btn-primary">Novo (em lote)</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="form-control btn badge-info" (click)="limpar()">Limpar</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="form-control btn btn-secondary" (click)="voltar()">Voltar</button>
        </div>
      </div>
      <div class="row pt-3">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">População</th>
            <th scope="col">Estado</th>
            <th scope="col">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cidade of cidades; index as i">
            <td>
              {{cidade.id}}
            </td>
            <td>{{ cidade.nome }}</td>
            <td>{{ cidade.populacao | number }}</td>
            <td>{{ cidade.estado.nome }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
